# Python cache files
__pycache__/
*.py[cod]

# Python packaging files
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store